{% extends 'base2.html' %}
{% load static %}

{% block content %}
<h2>Photo:</h2>
<ul>
    {{ photo }}

    <img src="{{ photo.photo.url }}" width="500px"/>
    {% for tag in photo.tag.all %}
    <li>{{tag.tag_name}}</li>

    {% endfor %}


</ul>

<link href="{% static 'static/js/tagger.css' %}" rel="stylesheet">
<form action="" method="post">
    {% csrf_token %}

    <input type="text" value="" name="tags" />
    <script src="{% static 'static/js/tagger.js' %}"></script>
    <script>
      var tags_input = document.querySelector('[name="tags"]');
      var js_alltags = {{js_alltags|safe}};
      var js_tags = {{js_tags|safe}};
    </script>
    <script src="{% static 'static/js/tags.js' %}"></script>

    <label for="taken-date">Photo taken date:</label>

    <input type="datetime-local" id="taken-date"
       name="taken-date" value="{{taken_date|date:'Y-m-d'}}T{{taken_date|time:'H:i'}}">

    <input type="submit" value="Submit">
</form>

    <div class="card-footer text-muted">
        <a href="{% url 'delete' photo.id %}"
        class ="btn btn-outline-danger btn-sm"
        >Delete</a>

    </div>

{% endblock %}
